@{
    ViewData["Title"] = "Результат";
}

<H1>Задействованные экстрасенсы:</H1>
<ul>
    @for (int i = 0; i < Model.Count; i++)
    {
        <li>@Model[i].Id Коэффициент достоверности: @Model[i].Accuracy. История предсказаний: @for (int j = 0; j < Model[i].History.Count; j++)
        {@Model[i].History[j]<a>, </a>}</li>
    }
</ul>
<form method="post">
    <button asp-controller="Number" asp-action="addExtra">Добавить экстрасенса</button>
</form>
<ul>
    История загаданных чисел:
    <li>
        @for (int g = 0; g < ViewBag.inputed.Count; g++)
        {@ViewBag.inputed[g]<a>, </a>}
    </li>
</ul>
    <h1>Что говорят экстрасенсы:</h1>
    @for (int i = 0; i < Model.Count; i++)
    {
        <h4>Экстрасенс № @Model[i].Id считает, что вы загадали число @Model[i].Number</h4>
    }

    <form action="Check" method="post">
        <input id="number" name="number" type="text" />
        <input type="submit" />
    </form>
