@{
    ViewData["Title"] = "Игра началась";
}

<H1>Задействованные экстрасенсы:</H1>
<ul>
    @for (int i = 0; i < Model.Psychics.Count; i++)
    {
        <li>@Model.Psychics[i].Id Коэффициент достоверности: @Model.Psychics[i].Accuracy. История предсказаний: @for (int j = 0; j < Model.Psychics[i].History.Count; j++)
        {@Model.Psychics[i].History[j]<a>, </a>}</li>
    }
</ul>
<form method="post">
    <button asp-controller="Game" asp-action="AddPsychic">Добавить экстрасенса</button>
</form>
<ul>
    История загаданных чисел:
    <li>
        @for (int g = 0; g < Model.UserNumbers.Count; g++)
        {@Model.Usernumbers[g]<a>, </a>}
    </li>
</ul>
    <h1>Что говорят экстрасенсы:</h1>
    @for (int i = 0; i < Model.Psychics.Count; i++)
    {
        <h4>Экстрасенс № @Model.Psychics[i].Id считает, что вы загадали число @Model.Psychics[i].Number</h4>
    }
<h4>Я загадал число:</h4>
    <form action="CheckNumbers" method="post">
        <input id="number" name="number" type="text" />
        <input type="submit" />
    </form>
