@{
    ViewData["Title"] = "Тестовое задание";
}

<div class="text-center">
    <h1 class="display-4">Загадайте двузначное число</h1>
    <form method="get">
        <button asp-area="" asp-controller="Game" asp-action="Start">Я загадал</button> 
    </form>
</div>
